.project
.settings
.DS_Store
.*.swp
.*.swo
.buildpath

other/*
public/upload/*

client/config/database.php
client/config/config.php
client/config/constants.php

admin/config/database.php
admin/config/config.php
admin/config/constants.php


