.content .video-box
{ display: inline-block; }
.video-box .video-play
{  }
.video-box .video-tit
{ width: 300px; height: 36px; overflow: hidden; margin: 0px; padding: 0px; text-align: center; color: #585858; font-weight: bold; line-height: 36px; font-size: 1.25em; }
