{%include file="52kona/header.html"%}
<div class="body_page">
	<div class="body_bg"></div>
	<div class="body_content">
		<div class="content_title">
			<span>我们的俱乐部</span>
			<hr/>
		</div>
		<div class="content_club">
			<img src="/public/img/img_club1.jpg" width="455px" height="312px" title="konachina club" class="float-left mr20">
			<img src="/public/img/img_club2.jpg" width="455px" height="312px" title="konachina club" class="float-right ml25">
			<div class="club_intr hidden">
				<p>北京52bike乐骑士自行车店是Kona科纳山地车中国大陆总代理，是北京专业山地车组装车店，最早专业经营自行车组装、单车装备的商家之一。</p>
				<p>经营Dahon大行、KHS、Birdy等高、中、低档折叠车；进口、国产等各类自行车配件，组装各种山地车、攀爬车、街市车。</p>
				<p>北京52bike乐骑士自行车店诚邀各地代理商，我们拥有雄厚的实力，专业的技术，以及良好的车友口碑。欢迎加入我们，一起将Kona这个品牌做强做大，让更多的车友体验到Kona山地车的快乐与激情。</p>
				<!-- <p>越野阳光——风云单车中的越野团队。 风云越野版，代号越野阳光。 常年从事京郊越野穿越活动。 </p>
				<p>现有队员若干名，女子强悍，男子精壮。 出门不下马，上房不挂霜，一声哨儿响，马上开抢。 赶紧加入，以免常年心痒。 </p>
				<p>越野阳光——越野中的战斗光。</p> -->
			</div>
		</div>
	</div>
</div>
</body>
</html>