{%include file="52kona/header.html"%}
<div class="body_page">
	<div class="body_bg"></div>
	<div class="body_content">
		<div class="content_title">
			<span>经销商</span>
			<hr/>
		</div>
		<div class="content_dealers">
			<div class="dealers_lists">
				<li class="dealers_img"><img src="/public/img/52bike_small.jpg" title="52Bike 乐骑士单车行" width="180px" /></li>
				<li class="dealers_font_center">
					<h1>52Bike 乐骑士单车行</h1>
					<font>Beijing</font>
					<p class="cn_font">北京市东城区东直门内大街4-1号</p>
					<p class="en_font">Dongzhimen inner street</p>
				</li>
				<li class="dealers_right">
					<span>TEL:</span><small>010-84074520</small><br/>
					<span>MOBILE:</span><small>13001077266</small><br/>
					<span>QQ:</span><small>1833958</small>
				</li>
				<li class="clear border"></li>
			</div>
		</div>
	</div>
</div>
{%include file="52kona/footer.html"%}