<div style="display:none;">
<script type="text/javascript">
	$("body").bgStretcher({
		images: ["{%$smarty.const.PUBURL%}img/pagebg_default.jpg","{%$smarty.const.PUBURL%}img/pagebg_gallery.jpg","{%$smarty.const.PUBURL%}img/pagebg_index.jpg"],
		imageWidth: 1600,
		imageHeight: 1200,
		nextSlideDelay: 120000
	})
</script>
<script type="text/javascript">
/*var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5dfc932d9c4f22dafdb7a75dc9f99dac' type='text/javascript'%3E%3C/script%3E"));*/
</script>
</div>
</body>
</html>