{%include file="52kona/header.html"%}
<div class="body_page">
	<div class="body_bg"></div>
	<div class="body_content">
		<div class="content_title">
			<span>美丽图片</span>
			<hr/>
		</div>
		<div class="content_gallery">
			<ul id="img">
				{%foreach item=images from=$gallery_lists%}
				<li>
					<a class='gallerylist' href="{%imageUrl($images.image_url, 800)%}" title="{%$images.title%}"><img src="{%imageUrl($images.image_url, 225)%}" width="225px" height="152px" alt="{%$images.title%}" ></a>
				</li>
				{%/foreach%}
				<div class="clear"></div>
			</ul>
		</div>
		<div class="pagination">{%$page%}</div>
	</div>
</div>
<script type="text/javascript" src="{%$smarty.const.PUBURL%}js/jquery.colorbox.min.js"></script>
<script type="text/javascript">
$(function(){
	$(".gallerylist").colorbox({rel:'gallerylist', transition:"fade", initialWidth:'800'});
})
	
</script>
</body>
</html>