<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="baidu-tc-verification" content="a4917d8a408292cf07a569427822f5da" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{%$smarty.const.PUBURL%}img/konachina.ico" type="image/x-icon" />
<html xmlns:wb="http://open.weibo.com/wb">
<title>{%$title%}</title>
<meta name="keywords" content="{%$keywords%}">
<meta name="description" content="{%$description%}">
<link type="text/css" rel="stylesheet" href="{%$smarty.const.PUBURL%}css/reset.css?0515" />
<link type="text/css" rel="stylesheet" href="{%$smarty.const.PUBURL%}css/52kona.css?0515" />
<script type="text/javascript" src="{%$smarty.const.PUBURL%}js/jquery_1.7.2.min.js"></script>
</head>
<body>
<div class="header_page">
	<div class="header_nav">
		<div class="header_weibo" style="text-align:right;">
			<a style="display:inline-block;"><wb:follow-button uid="2769500555" type="red_1" height="22px" >关注konachina</wb:follow-button></a>
		</div>
		<ul class="header_nav_ul">
			<li><a href="http://shop35011395.taobao.com/" target="_blank">购买</a></li>
			<li {%if $page_name == 'dealers'%}class="nav_active"{%/if%} ><a href="/dealers.html">经销商</a></li>
			<li {%if $page_name == 'bikes'%}class="nav_active"{%/if%} ><a href="/bikes">Kona车型</a></li>
			<li {%if $page_name == 'gallery'%}class="nav_active"{%/if%} ><a href="/gallery">图集</a></li>
			<li ><a href="http://www.konaworld.com/team.cfm" target="_blank">KonaTeam</a></li>
			<li {%if $page_name == 'club'%}class="nav_active"{%/if%} ><a href="/club.html">俱乐部</a></li>
			<li {%if $page_name == 'contact'%}class="nav_active"{%/if%} ><a href="/contact.html">联系我们</a></li>
		</ul>
	</div>
	<div class="header_logo"><a href="{%$smarty.const.WEBURL%}" target="_blank" alt="www.konachina.com"><img src="{%$smarty.const.PUBURL%}img/logo.png" width="117" height="104" title='konachina' /></a></div>
	<div class="clear"></div>
</div>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>