<!-- Footer -->
	<footer>
	<div id="footerInner">
		<!-- One Fourth Column Row -->
		<div class="row">
			<!-- 关于kona -->
			<div class="column oneFourth">
			<h3>关于KONA</h3>
				<p>kona是个好车子，尤其14款的，世界大神的第一辆车！</p>
				<a href="./index.html"><img src="http://www.konachina.com/public/img/logo.png" alt="KONA BIKE"></a>
			</div>
			<!-- End 关于kona -->

			<!-- 成绩 -->
			<div class="column oneFourth">
				<h3>车队新闻</h3>
				<ul class="footerNav">
					<li><a href="">成都DH赛 kona包揽前X</a></li>
					<li><a href="">云南赛到 小豪夺冠</a></li>
					<li><a href="">长沙黑麋峰比赛夺得名次</a></li>
				</ul>
			</div>
			<!-- End 成绩 -->

			<!-- 车型评测 -->
			<div class="column oneFourth">
			<h3>车型评测</h3>
				<ul class="footerNav">
					<li><a href="./news/detail.html">2014款 process测评</a></li>
					<li><a href="./news/detail.html">2014款 OPERATOR测评</a></li>
					<li><a href="./news/detail.html">2014款 OPERATOR国外测评</a></li>
					<li><a href="./news/detail.html">2014款 HEI HEI SUPREME pb测评</a></li>
				</ul>
			</div>
			<!-- End 车型评测 -->

			<!-- Contact -->
			<div class="column oneFourth last">
				<h3>联系我们</h3>
				<dl class="contactInfo">
					<dt>地址</dt>
					<dd>北京东直门内大街2-8号</dd>
					<dt>手机</dt>
					<dd>+86 130-0107-7266 </dd>
					<dt>座机</dt>
					<dd>+010 8407-4520</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:geoff_lv@52bike.com">geoff_lv@52bike.com</a></dd>
				</dl>
				<div class="clearfix">&nbsp;</div>
				<div id="mapCanvas"><img src="http://www.konachina.com/public/img/52bike_logo.png" width="224px" /></div>
			</div>
			<!-- End Contact -->
			<div class="clearfix"></div>
		</div>
	</div>

	<!-- Footer Bottom -->
	<div id="footerBottom">
		<div id="footerBottomInner">
			<p class="disclaimer">
				<a href="http://shop35011395.taobao.com/" target="_blank" >淘宝拿车</a>&nbsp;&nbsp;
				<a href="{%$smarty.const.WEBURL%}bikes.html">车型</a>&nbsp;&nbsp;
				<a href="{%$smarty.const.WEBURL%}news.html">新闻</a>&nbsp;&nbsp;
				<a href="{%$smarty.const.WEBURL%}gallery.html">图片墙</a>&nbsp;&nbsp;
				<a href="{%$smarty.const.WEBURL%}video.html">精彩视频</a>&nbsp;&nbsp;
				<a href="{%$smarty.const.WEBURL%}team.html">团队荣誉</a>&nbsp;&nbsp;
				<a href="{%$smarty.const.WEBURL%}shop.html">经销商</a>&nbsp;&nbsp;
			</p>
			<p class="disclaimer">© Copyright 2014 备案号：234353534</p>
			<div class="clearfix"></div>
		</div>
	</div>
	</footer>
	<!-- end of Footer -->