<!--! start of #container -->
{%include file="52kona_v2/header.html"%}

	<!--Thumbnail Navigation-->
	<div id="prevthumb"></div>
	<div id="nextthumb"></div>
	
	<!--Arrow Navigation-->
	<a id="prevslide" class="load-item"></a>
	<a id="nextslide" class="load-item"></a>
	
	<div id="thumb-tray" class="load-item">
		<div id="thumb-back"></div>
		<div id="thumb-forward"></div>
	</div>
	
	<!--Time Bar-->
	<div id="progress-back" class="load-item">
		<div id="progress-bar"></div>
	</div>
	
	<!--Control Bar-->
	<div id="controls-wrapper" class="load-item">
		<div id="controls">
			
			<a id="play-button"><img id="pauseplay" src="{%$smarty.const.PUBURL%}images/supersized/pause.png"/></a>
		
			<!--Slide counter-->
			<div id="slidecounter">
				<span class="slidenumber"></span> / <span class="totalslides"></span>
			</div>
			
			<!--Slide captions displayed here-->
			<div id="slidecaption"></div>
			
			<!--Thumb Tray button-->
			<a id="tray-button"><img id="tray-arrow" src="{%$smarty.const.PUBURL%}images/supersized/button-tray-up.png"/></a>
			
			<!--Navigation-->
			<ul id="slide-list"></ul>
		</div>
	</div>

</div> <!--! end of #container -->
<script type="text/javascript">
var pub_url	= '{%$smarty.const.PUBURL%}';
var slides	= [];
	slides	= {%$slides%};

/*var slides_bak	= [
			{image : 'http://i1.tietuku.com/6a5bdb1c94f01b5f.jpg', title : '图片一', url : 'http://www.baidu.com'},
			{image : 'http://www.konachina.com/public/img/pagebg_index.jpg', title : '图片2', url : 'http://www.baidu.com'},
			{image : 'http://i1.tietuku.com/53531b5e3fbef970.jpg', title : '图片3', url : 'http://www.baidu.com'},
			{image : 'http://www.konachina.com/public/img/pagebg_default.jpg', title : '图片4', url : 'http://www.baidu.com'}
		];*/
</script>

{%include file="52kona_v2/footer.html"%}
