<!--! start of #container -->
{%include file="52kona_v2/header.html"%}

	<!-- Main Content -->
	<div id="main" role="main">
		<div class="bgFFF bradius5 content">
			<div class=" content-left">

				<!-- 文章列表 开始 -->
				{%foreach item=row from=$news_lists%}
				<div class="news-box">
					<div class="opacFFF90 bradius5 news-date">
						<div class="news-date-month">{%$row.month%}</div>
						<div class="news-date-days">{%$row.day%}</div>
					</div>
					<div class="news-content">
						<div class="news-content-header">
							<div class="news-content-header-tit"><a  href="{%newsUrl($row['id'])%}" >{%$row['title']%}</a></div>
							<div class="news-content-header-cate">分类：<a href="{%newsCateUrl($row['cate_id'])%}">{%$news_cate[$row['cate_id']]['name']%}</a></div>
						</div>
						<div class="news-content-body">
							<p class="article">{%$row.content%}</p>
							{%if $row['focus_type'] == 1%}
							<div class="news-body-focus"><img src="{%$row['focus']%}" width="620" alt="w:620;h:auto" /></div>
							{%elseif $row['focus_type'] == 2%}
							<div class="news-body-focus"><embed src="{%$row['focus']%}" allowFullScreen="true" quality="high" width="620" height="390" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></div>
							{%/if%}
						</div>
					</div>
				</div>
				{%foreachelse%}
				<div class="news-box">
					<p>当前分类下还没有内容哦~ <br/>要记得继续关注哦，我们会不定时更新的</p>
				</div>
				{%/foreach%}
				<!-- 文章列表 结束 -->

				<div class="pagination">
					{%$page%}
					<div class="clearfix"></div>
				</div>

			</div>

			<div class="content-sidebar">

				<!-- 新闻右侧栏盒子 开始 -->
				{%if $news_cate %}
				<div class="mt20 news-sidebar-box">
					<div class="news-sidebar-header">
						<span>新闻类别</span>
					</div>

					<div class="news-sidebar-body">
						<ul class="news-sidebar-last">
							{%foreach item=row from=$news_cate%}
							<li><a href="{%newsCateUrl($row['id'])%}" >{%$row['name_s']%}</a></li>
							{%/foreach%}
						</ul>
					</div>
				</div>
				{%/if%}
				<!-- 新闻右侧栏盒子 结束 -->

				{%if $news_last %}
				<div class="mt20 news-sidebar-box">
					<div class="news-sidebar-header">
						<span>近期新闻</span>
					</div>
					<div class="news-sidebar-body">
						<ul class="news-sidebar-last">
							{%foreach item=row from=$news_last%}
							<li><a href="{%newsUrl($row['id'])%}" >{%$row['title']%}</a></li>
							{%/foreach%}
						</ul>
					</div>
				</div>
				{%/if%}

				{%if $adv_bike%}
				<div class="mt20 news-sidebar-box">
					<div class="news-sidebar-header">
						<span>推荐车型</span>
					</div>

					<div class="news-sidebar-body">
						<div class="sidebar-bike">
							{%foreach item=row from=$adv_bike%}
							<div class="bike-detail">
								<a href="{%$row['link_url']%}" >
									<div class="bike-detail-img"><img src="{%imageUrl($row['image_url'], 220)%}" width="220" /></div>
									<div class="bike-detail-name">{%$row['title']%}</div>
								</a>
							</div>
							{%/foreach%}
						</div>
					</div>
				</div>
				{%/if%}

			</div>
		</div>

	</div>
	<div class="clearfix"></div>
	<!--! end of Main Content -->
{%include file="52kona_v2/footer_nav.html"%}
</div> <!--! end of #container -->
{%include file="52kona_v2/footer.html"%}