<!--! start of #container -->
{%include file="52kona_v2/header.html"%}

	<!-- Main Content -->
	<div id="main" role="main">
		<div class="content">
			<div class="team-header"><h3>KONACHINA 中国车队</h3></div>

			<div class=" opacE5EDF6-90 p20 driver-box">
				{%if $driver_info['index_img']%}
				<div class="driver-img">
					<img src="{%$driver_info['index_img']%}" width="260px" alt="{%$driver_info['name']%}" />
				</div>
				{%/if%}
				<div class="driver-info">
					<h1>{%$driver_info['name']%}</h1>
					<p>{%strip_tags($driver_info['desc'])%}</p>
				</div>
			</div>

			{%if $driver_info['image']||$driver_info['article']||$driver_info['video'] %}
			<div class="mt20 driver-box">
				<div class="driver-detail">
					<div class="driver-tab-header">
						<ul class="tab-nav">
							{%if $driver_info['image'] %}<li class="tab_btn {%$class['image']['class']%}" tabname="img">图片</li>{%/if%}
							{%if $driver_info['video'] %}<li class="tab_btn {%$class['video']['class']%}" tabname="video">视频</li>{%/if%}
							{%if $driver_info['article'] %}<li class="tab_btn {%$class['article']['class']%}" tabname="news">新闻</li>{%/if%}
						</ul>
					</div>
					<div class="driver-tab-body" id="tab_div">
						{%if $driver_info['image'] %}
						<div class="driver-tab-img tab_content {%$class['image']['class']%} {%$class['video']['show']%}" tabname="img">
							<ul id="img">
								{%foreach item=row from=$driver_info['image']%}
								<li>
									<a class='gallerylist' href="{%imageUrl($row)%}" title=""><img src="{%$row%}" width="225px" height="152px" ></a>
								</li>
								{%/foreach%}
							</ul>
						</div>
						{%/if%}

						{%if $driver_info['video'] %}
						<div class="driver-video tab_content {%$class['video']['show']%}" tabname="video">
							<!-- tab视频列表 开始 -->
							{%foreach item=row from=$driver_info['video'] key=i%}
							<div class="video-box mb10  {%if $i%2 eq 0%}mr15{%/if%}">
								<div class="video-play">
									<embed src="{%$row['video_url']%}" allowFullScreen="true" quality="high" width="300" height="300" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
								</div>
								<div class="video-tit">{%$row['title']%}</div>
							</div>
							{%/foreach%}
							<div class="clear"></div>
						</div>
						{%/if%}

						{%if $driver_info['article'] %}
						<div class="driver-news tab_content {%$class['article']['show']%}" tabname="news">
							<ul class="driver-news-block">
								{%foreach item=row from=$driver_info['article'] key=i%}
								<li><a href="{%newsUrl($row['id'])%}" >{%$i+1%}. {%$row['title']%}<div class="driver-news-date">{%$row['createdate']%}</div></a></li>
								{%/foreach%}
								<div class="clear"></div>
							</ul>
						</div>
						{%/if%}
					</div>
				</div>
			</div>
			{%/if%}

		</div>
	</div>
	<div class="clearfix"></div>
	<!--! end of Main Content -->
{%include file="52kona_v2/footer_nav.html"%}
</div> <!--! end of #container -->
<script type="text/javascript">
$(function(){
	$(".gallerylist").colorbox({rel:'gallerylist', transition:"fade", initialWidth:'800'});
})
</script>
{%include file="52kona_v2/footer.html"%}
