{%include file="0921/header.html"%}
<body class="withvernav">

<div class="bodywrapper">
	<!-- 头部管理员信息 -->
	{%include file="0921/top_header.html"%}
	<!-- 头部横排导航条 -->
	{%include file="0921/nav_header.html"%}
	<!-- 左侧导航列表 -->
	{%include file="0921/left_menu.html"%}
	
	<!-- 右侧内容区 -->
	<div class="centercontent">
		<ul class="breadcrumbs">
			<li><a>52BIKE</a></li>
			<li>单车列表</li>
		</ul>
		<div class="pageheader notab">
			<ul class="hornav">
				<li><a href="{%$smarty.const.BASEURL%}bike/bikeList">单车列表</a></li>
				<li class="current"><a href="{%$smarty.const.BASEURL%}bike/bikeEdit">添加/编辑单车</a></li>
				<li><a href="{%$smarty.const.BASEURL%}bike/bikeCateList">单车分类</a></li>
				<li><a href="{%$smarty.const.BASEURL%}bike/bikeCateEdit">编辑单车分类</a></li>
			</ul>
		</div>
		<div id="contentwrapper" class="contentwrapper widgetpage">
			<form class="stdform" action="{%$smarty.const.BASEURL%}bike/doEditBikeInfo" method="post">
				<p>
					<label>标签：</label>
					<span class="field">
					{%foreach item=row key=k from=$bike_tag%}
						<input type="radio" name="info[tag_id]" value="{%$row['id']%}" {%if $info['tag_id'] == $row['id']%}checked="checked"{%/if%} >&nbsp;{%$row['title']%}&nbsp;&nbsp;&nbsp;
					{%/foreach%}
					</span>
				</p>
				<p>
					<label>归属产品类别：</label>
					<span class="field">
						<select name="info[type]" class="uniformselect">
							{%html_options options=$cate_type selected=$info.type%}
						</select>
					</span>
				</p>
				<p>
					<label>车型年代：</label>
					<span class="field">
						<select name="info[year]" class="uniformselect">
							{%html_options options=$year_conf selected=$info['year']%}
						</select>
					</span>
				</p>
				<p>
					<label>名称：</label>
					<span class="field">
						<input class="smallinput" type="text" name="info[b_name]" id="b_name" value="{%$info.name%}" />
					</span>
				</p>
				<p>
					<label>价格：</label>
					<span class="field">
						<input class="smallinput" type="text" name="info[price]" id="price" value="{%$info.price%}" />
					</span>
				</p>
				<p>
					<label>车型官网链接</label>
					<span class="field">
						<input class="smallinput" type="text" name="info[detail_url]" id="detail_url" value="{%$info.detail_url%}" />
					</span>
				</p>
				<p>
					<label>车型描述：</label>
					<span class="field">
						<textarea class="xmediuminput" style="height:200px;" type="text" name="info[desc]" id="desc">{%$info.desc%}</textarea>
					</span>
				</p>
				<p>
					<label>关联视频：</label>
					{%foreach item=video from=$info['more_video']%}
					<span class="field video" num="0">
						<input class="xxxsmallinput" type="text" name="" value="">
						<select name="info[more_video][]">
							<option values=''>--请选择--</option>
							{%foreach item=sel from=$video_data%}
								<option value="{%$sel['id']%}" {%if $video==$sel['id']%}selected="selected"{%/if%} >{%$sel['title']%}</option>
							{%/foreach%}
						</select>
						&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="video" search_id="" auto_id="" value="+" />
						&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="video" value="-" />
					</span>
					{%foreachelse%}
					<span class="field video" num="0">
						<input class="xxxsmallinput" type="text" name="" value="">
						<select name="info[more_video][]">
							<option values=''>--请选择--</option>
							{%foreach item=sel from=$video_data%}
								<option value="{%$sel['id']%}" >{%$sel['title']%}</option>
							{%/foreach%}
						</select>
						&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="video" search="" auto_id="" value="+" />
						&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="video" value="-" />
					</span>
					{%/foreach%}
				</p>
				<p>
					<label>关联新闻：</label>
					{%foreach item=article from=$info['more_article']%}
					<span class="field art" num="0">
						<input class="xxxsmallinput" type="text" name="" value="" />
						<select name="info[more_article][]">
							<option value="">--请选择--</option>
							{%foreach item=sel from=$art_data%}
								<option value="{%$sel['id']%}" {%if $article==$sel['id']%}selected="selected"{%/if%} >{%$sel['title']%}</option>
							{%/foreach%}
						</select>
						&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="art" search_id="" auto_id="" value="+" />
						&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="art" value="-" />
					</span>
					{%foreachelse%}
					<span class="field art" num="0">
						<input class="xxxsmallinput" type="text" name="" value="" />
						<select name="info[more_article][]">
							<option value="">--请选择--</option>
							{%foreach item=sel from=$art_data%}
								<option value="{%$sel['id']%}" >{%$sel['title']%}</option>
							{%/foreach%}
						</select>
						&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="art" search="" auto_id="" value="+" />
						&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="art" value="-" />
					</span>
					{%/foreach%}
				</p>
				<p>
					<label>上传图片：</label>
					{%foreach item=image from=$info['image_url'] key=k%}
					<span class="field image" num="0">
						<input type="button" class="stdbtn addhtml" code="image" search_id="fileToUpload{$k}" value="+" />&nbsp;&nbsp;
						<input type="button" class="stdbtn delHtml" code="image" value="-" />&nbsp;&nbsp;
						<input type="file" name="fileToUpload" id="fileToUpload{%$k%}" url="{%$smarty.const.BASEURL%}other/doImageUpload" folder="bike" size="150" onchange="fileCheck(this, 'image')" />
						<font id="file_error_fileToUpload{%$k%}"></font>
						&nbsp;&nbsp;<input class="smallinput" type="text" name="info[image_url][]" id="upload_fileToUpload{%$k%}" value="{%$image%}" />
						<br/><small>TIP:宽度620px;</small>
						<br/><img id="file_view_fileToUpload{%$k%}" src="{%imageUrlNew({%$image%}, 150)%}" {%if $image eq ''%}style="display:none;"{%/if%} />
					</span>
					{%foreachelse%}
					<span class="field image" num="0">
						<input type="button" class="stdbtn addhtml" code="image" search_id="fileToUpload0" value="+" />&nbsp;&nbsp;
						<input type="button" class="stdbtn delHtml" code="image" value="-" />&nbsp;&nbsp;
						<input type="file" name="fileToUpload" id="fileToUpload0" url="{%$smarty.const.BASEURL%}other/doImageUpload" folder="bike" size="150" onchange="fileCheck(this, 'image')" />
						<font id="file_error_fileToUpload0"></font>
						&nbsp;&nbsp;<input class="smallinput" type="text" name="info[image_url][]" id="upload_fileToUpload0" value="{%$info.image_url%}" />
						<br/><small>TIP:宽度620px;</small>
						<br/><img id="file_view_fileToUpload0" src="{%imageUrlNew({%$info.image_url%}, 150)%}" {%if $info.image_url eq ''%}style="display:none;"{%/if%} width="75px" />
					</span>
					{%/foreach%}
				</p>

				<p>
					<label>车型亮点：</label>
					{%foreach item=value from=$info['virtue']%}
					<span class="field virtue" num="0">
						<input type="text" name="info[virtue][]" value="{%$value%}" />
						&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="virtue" search_id="" auto_id="" value="+" />
						&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="virtue" value="-" />
					</span>
					{%foreachelse%}
					<span class="field virtue" num="0">
						<input class="smallinput" type="text" name="info[virtue][]" value="{%$info['virtue']['desc']%}" />
						&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="virtue" search="" auto_id="" value="+" />
						&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="virtue" value="-" />
					</span>
					{%/foreach%}
				</p>

				<p>
					<label>排序：</label>
					<span class="field">
						<input class="smallinput" type="text" name="info[sort]" id="sort" value="{%$info.sort%}" />
						<br/><small>降序排序</small>
					</span>
				</p>

				<p class="stdformbutton">
					<input type="hidden" name="id" value="{%$info.id%}" />
					<input type="hidden" name="get_params" value="{%$get_params%}" />
					<input type="button" class="stdbtn btn_orange" onclick="submitform('{%$smarty.const.BASEURL%}bike/doEditBikeInfo');" value="提 交" />
					&nbsp;&nbsp;
					<input type="button" class="stdbtn" onclick="button_location('{%$smarty.const.BASEURL%}bike/bikeList?{%urlDeCodeForSmarty($get_params)%}')" value="返 回" />
				</p>
			</form>
		</div>
	</div>
</div>
<div style="display:none;" id="hide_video">
	<span class="field video" num="0">
		<input class="xxxsmallinput" type="text" name="" value="">
		<select name="info[more_video][]">
			<option values=''>--请选择--</option>
			{%foreach item=sel from=$video_data%}
				<option value="{%$sel['id']%}" >{%$sel['title']%}</option>
			{%/foreach%}
		</select>
		&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="video" search="" auto_id="" value="+" />
		&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="video" value="-" />
	</span>
</div>
<div style="display:none;" id="hide_art">
	<span class="field art" num="0">
		<input class="xxxsmallinput" type="text" name="" value="" />
		<select name="info[more_article][]">
			<option value="">--请选择--</option>
			{%foreach item=sel from=$art_data%}
				<option value="{%$sel['id']%}" >{%$sel['title']%}</option>
			{%/foreach%}
		</select>
		&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="art" search="" auto_id="" value="+" />
		&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="art" value="-" />
	</span>
</div>
<div style="display:none;" id="hide_virtue">
	<span class="field virtue" num="0">
		<input class="smallinput" type="text" name="info[virtue][]" value="{%$info['virtue']['desc']%}" />
		&nbsp;&nbsp;<input type="button" class="stdbtn addhtml" code="virtue" search="" auto_id="" value="+" />
		&nbsp;&nbsp;<input type="button" class="stdbtn delHtml" code="virtue" value="-" />
	</span>
</div>
<div style="display:none;" id="hide_image">
	<span class="field image" num="0">
		<input type="button" class="stdbtn addhtml" code="image" search_id="fileToUpload$n" value="+" />&nbsp;&nbsp;
		<input type="button" class="stdbtn delHtml" code="image" value="-" />&nbsp;&nbsp;
		<input class="smallinput" type="file" name="fileToUpload" id="fileToUpload$n" url="{%$smarty.const.BASEURL%}other/doImageUpload" folder="bike" size="150" onchange="fileCheck(this, 'image')" />
		<font id="file_error_fileToUpload$n"></font>
		&nbsp;&nbsp;<input class="smallinput" type="text" name="info[image_url][]" id="upload_fileToUpload$n" value="" />
		<br/><small>TIP:宽度620px;</small>
		<br/><img id="file_view_fileToUpload$n" src="{%imageUrlNew({%$info.image_url%}, 150)%}" style="display:none;" width="75px" />
	</span>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {  
	jQuery('select.uniformselect, input:file').uniform();
});
jQuery(function(){
	var video_data	= [];
		video_data	= {%$video_data_json%};
	var art_data	= [];
		art_data	= {%$art_data_json%};

	jQuery('.video').find('input').live('keyup', function(){
		getSelData( jQuery(this), video_data );
	});

	jQuery('.art').find('input').live('keyup', function(){
		getSelData( jQuery(this), art_data );
	});

	function getSelData( obj, data )
	{
		if( obj )
		{
			var value	= obj.val();
			if( data )
			{
				var html	= new Array();
				for(var id in data)
				{
					if( value && data[id]['title'].indexOf( value ) >= 0 )
					{
						html.push( {'id':data[id]['id'], 'title':data[id]['title']} );
					}
				}
				if( html )
				{
					genSelHtml(obj, html );
					return true;
				}
			}
		}
		else
		{
			jAlert('出错了！');
		}
	}

	function genSelHtml(obj, msg )
	{
		var result = new Array();
		if(msg.length <= 0)
		{
			result[0]	= '<option value="0" selected="selected">--请选择--</option>';
		} 
		var i	= 0;
		for(var id in msg)
		{
			var selected	= i<=0 ? 'selected="selected"' : '';
			result.push('<option value="'+msg[id]['id']+'" '+selected+' >'+msg[id]['title']+'</option>');
			i = 1;
		}
		obj.next().html( result.join("\n") );
	}

	jQuery('.addhtml').live('click', function(){
		var obj			= jQuery(this);
		var code		= obj.attr('code');
		var search_id	= obj.attr('search_id');
		var auto_id		= obj.attr('auto_id');
		addHtml(obj, code, search_id, auto_id);
	});

	/**
	 *	@desc 制作增加html或删除html的效果，预增加html文本使用固定ID，放在隐藏div框中
	*/
	function addHtml(obj, code, search_id, auto_id)
	{
		var html	= jQuery('#hide_'+code).html();
		var i		= obj.parent('span').parent('p').children('span').length;
			html	= html.replace( /\$n/ig, i );

			obj.parent('span').after( html );
	}

	jQuery('.delHtml').live('click', function(){
		delHtml( jQuery(this) );
	});
	function delHtml(obj)
	{
		var span_num	= obj.parent('span').parent('p').children('span').length;
		if( span_num - 1 > 0 )
		{
			obj.parent('span').remove();
		}
	}
})

</script>
</body>
</html>
