{%include file="0921/header.html"%}
<body class="withvernav">

<div class="bodywrapper">
	<!-- 头部管理员信息 -->
	{%include file="0921/top_header.html"%}
	<!-- 头部横排导航条 -->
	{%include file="0921/nav_header.html"%}
	<!-- 左侧导航列表 -->
	{%include file="0921/left_menu.html"%}
	
	<!-- 右侧内容区 -->
	<div class="centercontent">
		<ul class="breadcrumbs">
			<li><a>52BIKE</a></li>
			<li>图片列表</li>
		</ul>
		<div class="pageheader notab">
			<ul class="hornav">
				<li class="current"><a href="{%$smarty.const.BASEURL%}bike/imageList">图片列表</a></li>
				<li><a href="javascript:void('');" onclick="editImageInfo(0);">添加图片</a></li>
			</ul>
		</div>
		<div id="contentwrapper" class="contentwrapper widgetpage">
			<form action="{%$smarty.const.BASEURL%}bike/imageList" method="get">
				<i>状态：</i>
				<select class="uniformselect" name='flag' id='flag'>
					<option value=''>全部</option>
					{%html_options options=$flag_arr selected=$get.flag%}
				</select>

				<button class="radius3">点击查询</button>
			</form>
			<table cellpadding="0" cellspacing="0" border="0" class="margintop20 stdtable stdtablecb">
				<colgroup>
					<col class="con0" style="width: 4%" />
					<col class="con1" />
					<col class="con0" />
					<col class="con1" />
					<col class="con0" />
				</colgroup>
				<thead>
					<tr>
						<td colspan="8">
							<span class="floatright">{%$page%}</span>
						</td>
					</tr>
					<tr>
						<th class="head0 nosort" style="width: 4%;"><input type="checkbox" class="checkall" /></th>
						<th class="head0">标题</th>
						<th class="head1">缩略图片</th>
						<th class="head1">添加时间</th>
						<th class="head0">操作</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="8">
							<span class="floatright">{%$page%}</span>
						</td>
					</tr>
				</tfoot>
				<tbody>
				<!-- 列表数据循环主体 -->
				{%foreach item=row from=$lists%}
					<tr>
						<td><input  id="{%$row.id%}" name="sel_id[]" type="checkbox" value="{%$row.id%}" /></td>
						<td class="edit_title_{%$row.id%}">{%$row.title%}</td>
						<td>
							<img src="{%imageUrl({%$row.image_url%}, 225)%}" /><br/>
							<span class="edit_image_{%$row.id%}">{%$row.image_url%}</span>
						</td>
						<td>{%$row.createdate%}</td>
						<td>
							 <a href="javascript:void('');" onclick="editImageInfo('{%$row.id%}');" title="Edit">编辑</a>&nbsp;
							 <select id="changeFlag" onchange="changeFlagAjax(this)" url='{%$smarty.const.BASEURL%}bike/ajaxChangeFlagImageLists' aid='{%$row.id%}' aid='{%$row.id%}' old="{%$row.flag%}">
								{%html_options options=$flag_arr selected=$row.flag%}
							</select>
							<img class="flagtip{%$row.id%}" src="" style="display:none;" />
						</td>
					</tr>
				{%foreachelse%}
					<tr>
						<td colspan="8" class="aligncenter">暂时没有数据</td>
					</tr>
				{%/foreach%}
				</tbody>
			</table>
		</div>

	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {  
	jQuery('input:checkbox, select.uniformselect, input:file').uniform();
});

function editImageInfo(id)
{
	var title	= '';
	var image	= '';
	var html	= '';
	if(id > 0)
	{
		title	= jQuery('.edit_title_'+id).html();
		image	= jQuery('.edit_image_'+id).html();	
	}

	html	= '<div id="contentwrapper" class="contentwrapper widgetpage updateImage">';
		html	+= '<form>';
			html	+= '<p><label>简短描述：</label><span class="field"><input class="mediuminput" type="text" id="img_title" value="'+title+'" /></span></p>';
			html	+= '<p><label>上传图片：</label>';
				html	+= '<span class="field"><input class="smallinput" type="file" name="fileToUpload" id="fileToUpload" url="{%$smarty.const.BASEURL%}other/doImageUpload" folder="photo" onchange="fileCheck(this, \'image\')" /><font id="file_error_fileToUpload"></font></span></p>';
				html	+= '<p><label>图片地址：</label><span class="field"><input disabled class="mediuminput" type="text" name="upload_fileToUpload" id="upload_fileToUpload" value="'+image+'" /></span></p>';
		html	+= '</form></div>';
	
	jDialog(html, '编辑图片', function(){
		var title	= jQuery('#img_title').val();
		var image	= jQuery('#upload_fileToUpload').val();
		var suburl	= '{%$smarty.const.BASEURL%}bike/ajaxDoEditImage?'+Math.random();
		if(image.length > 0)
		{
			jQuery.ajax({
				type:'POST',
				url: suburl,
				data:'&id='+id+'&title='+title+'&file_path='+image,
				dataType:'json',
				async: false,
				success:function(msg){
					if(msg.status == 'OK')
					{
						window.location.href=window.location.href;
					}
					else
					{
						jAlert('提交失败！');
						$("#popup_ok").removeAttr('disabled');
					}
				}
			});
		}
	});
}

</script>
</body>