{%include file="0921/header.html"%}
<body class="withvernav">

<div class="bodywrapper">
	<!-- 头部管理员信息 -->
	{%include file="0921/top_header.html"%}
	<!-- 头部横排导航条 -->
	{%include file="0921/nav_header.html"%}
	<!-- 左侧导航列表 -->
	{%include file="0921/left_menu.html"%}
	
	<!-- 右侧内容区 -->
	<div class="centercontent">
		<ul class="breadcrumbs">
			<li><a>52BIKE</a></li>
			<li>新闻列表</li>
		</ul>
		<div class="pageheader notab">
			<ul class="hornav">
				<li><a href="{%$smarty.const.BASEURL%}bikenews/newsList">新闻内容</a></li>
				<li class="current"><a href="{%$smarty.const.BASEURL%}bikenews/newsEdit">添加/编辑新闻内容</a></li>
				<li><a href="{%$smarty.const.BASEURL%}bikenews/newsCate">新闻类别列表</a></li>
				<li><a href="{%$smarty.const.BASEURL%}bikenews/newsCateEdit">添加/编辑新闻类别</a></li>
			</ul>
		</div>
		<div id="contentwrapper" class="contentwrapper widgetpage">
			<form class="stdform" action="{%$smarty.const.BASEURL%}bikenews/doEditNewsInfo" method="post" enctype="multipart/form-data">
				<p>
					<label>所属类别：</label>
					<span class="field">
						<select name="cate_id" class="uniformselect">
							{%html_options options=$cate_type selected=$info.cate_id%}
						</select>
					</span>
				</p>
				<p>
					<label>标题：</label>
					<span class="field">
						<input class="smallinput" type="text" name="title" id="title" value="{%$info.title%}" />
					</span>
				</p>
				<p>
					<label>设置焦点样式：</label>
					<span class="field">
						<select name="focus_type" class="uniformselect" onchange="changeFocus(this.value);">
							{%html_options options=$news_focus_type selected=$info.focus_type%}
						</select>
						<br/><input class="mediuminput" type="text" name="upload_focus_val" id="upload_focus_val" value="{%$info.focus_val%}" />
						<br/><small>可以是上传一张图片，一段图片链接，一段url链接。要是下拉框显示‘没有’，即使设置了，前台页面也不会显示。<br/>url格式： http://……</small>
					</span>
					<div class="field imgupload" style="display:none;">
						<input class="smallinput" type="file" name="focus_val" id="focus_val" url="{%$smarty.const.BASEURL%}other/doImageUpload" folder="bike" size="200" onchange="fileCheck(this, 'image')" />
						<font id="file_error_focus_val"></font>
						&nbsp;<small>TIP:宽度650px</small>
						<img id="file_view_focus_val" src="{%imageUrl({%$info.focus_val%}, 150)%}" {%if $info.focus_val eq ''%}style="display:none;"{%/if%} />
					</div>
				</p>
				<p>
					<label>文章内容：</label>
					<span class="field"><script id="content" type="text/plain" style="width:580px;height:500px">{%$info.content%}</script></span>
				</p>
				<p>
					<label>作者：</label>
					<span class="field">
						<input class="smallinput" type="text" name="author" id="author" value="{%$info.author%}" />
					</span>
				</p>
				<p>
					<label>排序：</label>
					<span class="field">
						<input class="xxxsmallinput" type="text" name="sortnum" id="sortnum" value="{%$info.sortnum%}" />
						<br/><small>默认为0，按降序排序</small>
					</span>
				</p>
				<p class="stdformbutton">
					<input type="hidden" name="id" value="{%$info.id%}" />
					<input type="hidden" name="get_params" value="{%$get_params%}" />
					<input type="button" class="stdbtn btn_orange" onclick="submitform('{%$smarty.const.BASEURL%}bikenews/doEditNewsInfo');" value="提 交" />
					&nbsp;&nbsp;
					<input type="button" class="stdbtn" onclick="button_location('{%$smarty.const.BASEURL%}bikenews/newsList?{%urlDeCodeForSmarty($get_params)%}')" value="返 回" />
				</p>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {  
	jQuery('select.uniformselect, input:file').uniform();
	var URL	= '{%$smarty.const.WEBURL%}{%$smarty.const.PUBDIRAMAN%}js/ueditor/';
	var editor = new baidu.editor.ui.Editor({
		textarea: 'content',
		toolbars:[
			['fullscreen', 'source', '|', 'undo', 'redo', '|',
				'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
				'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
				'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
				'directionalityltr', 'directionalityrtl', 'indent', '|',
				'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
				'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
			'insertimage', 'gmap', 'template', '|',
				'horizontal', 'spechars', 'wordimage', '|',
				'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', '|',
				, 'preview', 'help']
		],
		//为编辑器实例添加一个路径，这个不能被注释
		UEDITOR_HOME_URL : URL
		//图片上传配置区
		,imageUrl:"{%$smarty.const.BASEURL%}ueditor/editorUploadImage?"+Math.random()			 //图片上传提交地址
		,imagePath:'{%$smarty.const.PUBURL%}{%$smarty.const.UPFILEDIR%}ueditor/'
		,maxImageSideLength:600
		//,imageFieldName:"upfile"				   //图片数据的key,若此处修改，需要在后台对应文件修改对应参数
		,imageFieldName:'ueditorImage'
		//远程抓取配置区
		,catcherUrl:URL +"php/getRemoteImage.php"   //处理远程图片抓取的地址
		,catcherPath:URL + "php/"				  //图片修正地址，同imagePath
		,localDomain:['{%$smarty.const.WEBURL%}']							//本地顶级域名，当开启远程图片抓取时，除此之外的所有其它域名下的图片都将被抓取到本地,默认不抓取127.0.0.1和localhost
		//图片在线管理配置区
		,imageManagerUrl:'{%$smarty.const.BASEURL%}ueditor/editorImageManage?'+Math.random() //图片在线管理的处理地址
		,imageManagerPath:'{%$smarty.const.PUBURL%}{%$smarty.const.UPFILEDIR%}ueditor/'	//图片修正地址，同imagePath
		//word转存配置区
		,wordImageUrl:URL + "php/imageUp.php"			 //word转存提交地址
		,wordImagePath:URL + "php/"					   //
		,wordImageFieldName:"wordImage"					 //word转存表单名若此处修改，需要在后台对应文件修改对应参数
	});
	editor.render("content");
});
function changeFocus(val)
{
	if(parseInt(val) !== 1)
	{
		jQuery('div.imgupload').hide();
	}
	else
	{
		jQuery('div.imgupload').show();
	}
}
</script>
</body>
</html>
