<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>操作提示</title>
<body>
<center>
<h1>操作{%$tip_arr.status%}</h1>
<p>
	<a href="{%$smarty.const.BASEURL%}imageList/edit?cid={%$tip_arr.id%}" >返回继续编辑图片</a>&nbsp;
	<a href="{%$smarty.const.BASEURL%}imageList/edit/0" >继续添加图片</a>&nbsp;
	<a href="{%$smarty.const.BASEURL%}imageList/lists" >查看图片列表</a>
</p>
</center>
</body>
</html>