{%include file="0921/header.html"%}
<body class="withvernav">

<div class="bodywrapper">
	<!-- 头部管理员信息 -->
	{%include file="0921/top_header.html"%}
	<!-- 头部横排导航条 -->
	{%include file="0921/nav_header.html"%}
	<!-- 左侧导航列表 -->
	{%include file="0921/left_menu.html"%}
	<!-- 右侧内容区 -->
	<div class="centercontent">
		<ul class="breadcrumbs">
			<li><a>52BIKE</a></li>
			<li><a href="{%$smarty.const.BASEURL%}bike/video">编辑视频链接</a></li>
		</ul>
		<div class="pageheader notab">
			<ul class="hornav">
				<li class="current"><a href="javascript:button_location('{%$smarty.const.BASEURL%}bike/video')">编辑视频链接</a></li>
			</ul>
		</div>
		<div id="contentwrapper" class="contentwrapper widgetpage">
			<form class="stdform" action="{%$smarty.const.BASEURL%}bike/doEditVideo" method="post">
				<p>
					<label>首页第一位置视频【左】：</label>
					<span class="field">
						<input class="text-input medium-input" type="text" name="url1" id="url1" value="{%$info.url1%}" />
						<br/><small>没有直接设置成空即可</small>
					</span>
				</p>
				<p>
					<label>首页第一位置视频【中】：</label>
					<span class="field">
						<input class="text-input medium-input" type="text" name="url2" id="url2" value="{%$info.url2%}" />
						<br/><small>没有直接设置成空即可</small>
					</span>
				</p>
				<p>
					<label>首页第一位置视频【右】：</label>
					<span class="field">
						<input class="text-input medium-input" type="text" name="url3" id="url3" value="{%$info.url3%}" />
						<br/><small>没有直接设置成空即可</small>
					</span>
				</p>
				<p>
					<label>优酷视频主页链接：</label>
					<span class="field">
						<input class="text-input medium-input" type="text" name="url_index" id="url_index" value="{%$info.url_index%}" />
						<br/><small>这个必须有</small>
					</span>
				</p>
				<p class="stdformbutton">
					<button class="submit radius2">确 定</button>
				</p>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {  
	jQuery("#descript").charCount({
		allowed: 20,
		warning: 20,
		counterText: '可输入字符剩余: '
	});
	jQuery('input:checkbox, select.uniformselect, input:file').uniform();
	jQuery( "#de_date" ).datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
</body>
